# Python cache files
__pycache__/
*.py[cod]
*$py.class

# For build exe files
dist/
build/
*.spec

# Results directory
*/results/

# VS Code settings
.vscode/

# Environment directories
venv/
env/
ENV/
